.main {
  overflow: hidden;
  height: 100%;
}

.container {
  height: 100%;
  gap: var(--md-user-spacing-sm);

  display: grid;
  grid-template-rows: min-content min-content auto;

  & > output {
    overflow-x: auto;
  }
}

.status-bar {
  display: flex;
  flex-direction: row;
  gap: var(--md-user-spacing-sm);
  align-items: center;
  justify-content: space-between;
}

.buttons {
  --md-comp-button-group-standard-size-medium-gap: 8px;

  @media (width < 600px) {
    --md-comp-button-group-standard-size-medium-gap: 4px;
  }

  position: relative;
  width: 100%;
  container-type: size;

  --columns: 4;
  --rows: 5;

  &[data-expanded] {
    --rows: 8;
  }

  sm-button-group > div {
    flex-grow: 1;
    display: grid;
  }
}

.main-buttons,
.scientific-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--md-comp-button-group-standard-size-medium-gap);

  --digit-button-width: calc(
    (100cqi - (var(--columns) - 1) * var(--md-comp-button-group-standard-size-medium-gap)) / var(--columns)
  );
  --digit-button-height: calc(
    (100cqb - (var(--rows) - 1) * var(--md-comp-button-group-standard-size-medium-gap)) / var(--rows)
  );
  --md-comp-button-medium-container-height: var(--digit-button-height);
}

.scientific-buttons {
  transition-property: opacity;
  transition-duration: var(--md-sys-motion-duration-spatial-fast);
  transition-timing-function: var(--md-sys-motion-spring-spatial-fast);

  opacity: 1;
}

.buttons:not([data-expanded]) .scientific-buttons {
  --md-comp-button-medium-container-height: 0px;
  opacity: 0;
}

.main-buttons {
  /**
   * Make sure main buttons bounce at the top instead of the bottom when
   * collapsing the scientific buttons
   */
  position: absolute;
  inset: 0;
  top: auto;
}

.input,
.output,
.error {
  display: flex;
  flex-direction: row-reverse;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: end;
  text-wrap: nowrap;

  height: var(--md-user-spacing-4xl);

  @media (width < 600px) or (height < 480px) {
    height: var(--md-user-spacing-2xl);
  }
}

.input {
  /* Prevent the superscript (^2) from being wider than needed */
  math {
    display: inline-block;

    msup {
      display: inline-block;
      vertical-align: super;
    }
  }
}

.output {
  color: var(--md-ref-palette-green-60);
}

.error {
  color: var(--md-sys-color-error-container);
}

.mode-button-row {
  display: flex;
  flex-direction: row;
  gap: var(--md-comp-button-group-standard-size-medium-gap);

  & > * {
    flex-grow: 1;
    display: grid;
  }

  & > :first-child {
    max-width: var(--digit-button-width);

    --md-comp-button-tonal-container-color-unselected: var(--md-ref-palette-orange-90);
    --md-comp-button-tonal-label-color-unselected: var(--md-ref-palette-orange-20);
  }
}

/* Operator buttons around the digits between AC and = */
.scientific-buttons,
.main-buttons :is(sm-button-group:first-child > :not(:first-child), sm-button-group:nth-child(n + 2) > :last-child) {
  --md-comp-button-tonal-container-color: var(--md-ref-palette-blue-90);
  --md-comp-button-tonal-label-color: var(--md-ref-palette-blue-30);
}

/* AC button */
.main-buttons sm-button-group:first-child > :first-child {
  --md-comp-button-tonal-container-color: var(--md-sys-color-tertiary-container);
  --md-comp-button-tonal-label-color: var(--md-sys-color-on-tertiary-container);
}

/* = button */
.main-buttons sm-button-group:last-child > :last-child {
  --md-comp-button-tonal-container-color: var(--md-sys-color-primary-container);
  --md-comp-button-tonal-label-color: var(--md-sys-color-on-primary-container);
}

:root[data-theme='dark'] {
  /* Buttons "Deg" and "Inv" */
  .mode-button-row > :first-child {
    --md-comp-button-tonal-container-color-unselected: var(--md-ref-palette-orange-30);
    --md-comp-button-tonal-label-color-unselected: var(--md-ref-palette-orange-80);
  }

  /* Operator buttons around the digits between AC and = */
  .scientific-buttons,
  .main-buttons :is(sm-button-group:first-child > :not(:first-child), sm-button-group:nth-child(n + 2) > :last-child) {
    --md-comp-button-tonal-container-color: var(--md-ref-palette-blue-20);
    --md-comp-button-tonal-label-color: var(--md-ref-palette-blue-80);
  }
}
