@layer material.components {
  @property --translate {
    syntax: '<length-percentage>';
    inherits: true;
    initial-value: 0px;
  }

  @keyframes centered-hero-expand-item {
    from {
      --max-width: var(--md-comp-carousel-size-small);
    }

    to {
      --max-width: var(--md-comp-carousel-size-large);
    }
  }

  @keyframes centered-hero-expand-item-translate {
    from {
      --translate: calc(-1 * (var(--md-comp-carousel-size-large) - var(--md-comp-carousel-size-small)));
    }

    to {
      --translate: 0;
    }
  }

  @keyframes centered-hero-expand-last-item {
    from {
      --max-width: 0;
    }

    to {
      --max-width: var(--md-comp-carousel-size-large);
    }
  }

  @keyframes centered-hero-collapse-item {
    from {
      --max-width: var(--md-comp-carousel-size-large);
      --translate: 0;
    }

    to {
      --max-width: calc(var(--md-comp-carousel-size-small));
      --translate: calc(var(--md-comp-carousel-size-large) - var(--md-comp-carousel-size-small));
    }
  }

  sm-carousel[data-variant='centered-hero'] .container {
    --container-width: calc(
      100cqi - 2 * var(--md-comp-carousel-size-small) - 2 * var(--md-comp-carousel-container-gap)
    );

    @container (width < 600px) {
      --md-comp-carousel-count-large: 1;
    }

    @supports (animation-timeline: view()) {
      animation:
        centered-hero-expand-item linear both,
        centered-hero-expand-item-translate linear both,
        centered-hero-collapse-item linear forwards;
      animation-timeline: view(x);
      animation-range-start:
        entry var(--md-comp-carousel-size-small),
        cover
          calc(
            -1 *
              (
                var(--md-comp-carousel-size-large) - var(--md-comp-carousel-size-small) +
                  var(--md-comp-carousel-container-gap)
              )
          ),
        exit 0%;
      animation-range-end:
        cover
          calc(
            var(--md-comp-carousel-size-large) + var(--md-comp-carousel-container-gap) +
              var(--md-comp-carousel-size-small)
          ),
        entry var(--md-comp-carousel-size-small),
        exit calc(var(--md-comp-carousel-size-large) - var(--md-comp-carousel-size-small));

      &:first-child {
        --container-width: calc(100cqi - var(--md-comp-carousel-size-small) - var(--md-comp-carousel-container-gap));

        animation:
          centered-hero-expand-item linear both,
          centered-hero-collapse-item linear forwards;
        animation-timeline: view(x);
        animation-range-start:
          entry var(--md-comp-carousel-size-small),
          exit 0%;
        animation-range-end:
          cover
            calc(
              var(--md-comp-carousel-size-large) + var(--md-comp-carousel-container-gap) +
                var(--md-comp-carousel-size-small)
            ),
          exit calc(var(--md-comp-carousel-size-large) - var(--md-comp-carousel-size-small));
      }

      &:last-child {
        --container-width: calc(100cqi - var(--md-comp-carousel-size-small) - var(--md-comp-carousel-container-gap));

        animation:
          centered-hero-expand-item linear both,
          centered-hero-expand-item-translate linear both;
        animation-timeline: view(x);
        animation-range-start:
          entry var(--md-comp-carousel-size-small),
          cover
            calc(
              -1 *
                (
                  var(--md-comp-carousel-size-large) - var(--md-comp-carousel-size-small) + 2 *
                    var(--md-comp-carousel-container-gap)
                )
            );
        animation-range-end:
          var(--md-comp-carousel-size-large),
          entry var(--md-comp-carousel-size-small);
      }

      sm-carousel-item {
        translate: var(--translate);
      }
      scroll-margin-inline-start: calc(var(--md-comp-carousel-container-gap) + var(--md-comp-carousel-size-small));
    }
  }
}
