@layer material.components {
  :root {
    --sm-spacer-container-inline-size: 24px;
  }

  .spacer {
    inline-size: var(--sm-spacer-container-inline-size);
    block-size: 100%;
    display: grid;
    place-content: center;

    &[data-orientation='horizontal'] {
      writing-mode: horizontal-tb;
      touch-action: pan-y pinch-zoom;

      &:not(:empty) {
        cursor: ew-resize;
      }
    }

    &[data-orientation='vertical'] {
      writing-mode: vertical-lr;
      touch-action: pan-x pinch-zoom;

      &:not(:empty) {
        cursor: ns-resize;
      }
    }
  }
}
