@layer material.components {
  :root {
    /* Size - Extra large */
    --md-comp-button-extra-large-container-height: 136px;
    --md-comp-button-extra-large-outline-width: 3px;
    --md-comp-button-extra-large-icon-size: 40px;
    --md-comp-button-extra-large-padding: 64px;
    --md-comp-button-extra-large-gap: 16px;

    --md-comp-button-extra-large-shape-round: var(--md-sys-shape-corner-full);
    --md-comp-button-extra-large-shape-round-selected: var(--md-sys-shape-corner-extra-large);
    --md-comp-button-extra-large-shape-square: var(--md-sys-shape-corner-extra-large);
    --md-comp-button-extra-large-shape-square-selected: var(--md-sys-shape-corner-full);
    --md-comp-button-extra-large-shape-pressed-morph: var(--md-sys-shape-corner-large);
  }

  .button[data-size='extra-large'] {
    --md-comp-button-container-height: var(--md-comp-button-extra-large-container-height);
    --md-comp-button-outline-width: var(--md-comp-button-extra-large-outline-width);
    --md-comp-button-icon-size: var(--md-comp-button-extra-large-icon-size);
    --md-comp-button-padding: var(--md-comp-button-extra-large-padding);
    --md-comp-button-gap: var(--md-comp-button-extra-large-gap);

    &:not(:active),
    &:has(> :is(a, button):disabled) {
      --md-comp-button-shape: min(
        calc(var(--md-comp-button-extra-large-container-height) * 0.5),
        var(--md-comp-button-extra-large-shape-round)
      );

      &[data-toggle='true'] {
        --md-comp-button-shape: var(--md-comp-button-extra-large-shape-round-selected);
      }

      &[data-shape='square'] {
        --md-comp-button-shape: var(--md-comp-button-extra-large-shape-square);

        &[data-toggle='true'] {
          --md-comp-button-shape: min(
            calc(var(--md-comp-button-extra-large-container-height) * 0.5),
            var(--md-comp-button-extra-large-shape-square-selected)
          );
        }
      }
    }

    &:active:not(:has(> :is(a, button):disabled)) {
      --md-comp-button-shape: var(--md-comp-button-extra-large-shape-pressed-morph);
    }
  }
}
