@import './styling/variants/MaterialCarouselItemHolderVariantCenteredHero.module.css';
@import './styling/variants/MaterialCarouselItemHolderVariantFullScreen.module.css';
@import './styling/variants/MaterialCarouselItemHolderVariantHero.module.css';
@import './styling/variants/MaterialCarouselItemHolderVariantMultiBrowse.module.css';
@import './styling/variants/MaterialCarouselItemHolderVariantUncontained.module.css';

@layer material.components {
  :root {
    --md-comp-carousel-item-small-min-width: 40px;
    --md-comp-carousel-item-small-max-width: 56px;

    --md-comp-carousel-item-large-max-width: 200px;
  }

  @property --md-comp-carousel-count-large {
    syntax: '<number>';
    inherits: true;
    initial-value: 2;
  }

  @property --md-comp-carousel-size-large {
    syntax: '<length>';
    inherits: true;
    initial-value: 0px;
  }

  @property --md-comp-carousel-size-medium {
    syntax: '<length>';
    inherits: true;
    initial-value: 0px;
  }

  @property --max-width {
    syntax: '<length-percentage>';
    inherits: true;
    initial-value: 0px;
  }

  @property --active-item-extra-width {
    syntax: '<length-percentage>';
    inherits: true;
    initial-value: 0px;
  }

  @keyframes collapse-item {
    from {
      --max-width: var(--md-comp-carousel-size-large);
      margin-inline-end: 0;
      justify-content: end;
    }

    to {
      --max-width: var(--md-comp-carousel-size-small);
      margin-inline-end: 0;
      justify-content: end;
    }
  }

  .container {
    --md-comp-carousel-size-small: var(--md-comp-carousel-item-small-max-width);

    /* Make small items thin in compact windows */
    @container (width < 600px) {
      --md-comp-carousel-size-small: var(--md-comp-carousel-item-small-min-width);
    }

    /* Round up to use width as a maximum (and down when used as a minimum) */
    /* The CSS variable --container-width is defined per variant */
    --md-comp-carousel-count-large: max(
      2,
      round(
        up,
        (var(--container-width) + var(--md-comp-carousel-container-gap)) /
          (var(--md-comp-carousel-item-large-max-width) + var(--md-comp-carousel-container-gap))
      )
    );
    --md-comp-carousel-size-large: calc(
      (var(--container-width) + var(--md-comp-carousel-container-gap)) / var(--md-comp-carousel-count-large) -
        var(--md-comp-carousel-container-gap)
    );

    --md-comp-carousel-size-medium: calc(
      var(--md-comp-carousel-size-large) - var(--md-comp-carousel-container-gap) - var(--md-comp-carousel-size-small)
    );

    --min-width: var(--md-comp-carousel-size-large);
    --max-width: var(--min-width);

    display: flex;
    contain: layout size;
    contain-intrinsic-width: var(--min-width);
    min-width: var(--min-width);

    /* Needed for WebKit to avoid buggy behavior when clicking on items */
    height: 100%;

    /* Enable snap-scrolling for all variants except uncontained layouts */
    &:not([data-variant='uncontained']) {
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }

    & > sm-carousel-item {
      max-width: calc(var(--max-width) + 2 * var(--active-item-extra-width));
      margin-inline: calc(-1 * var(--active-item-extra-width));
    }
  }

  sm-carousel[data-dragging] .container {
    pointer-events: none;
  }

  /**********************************************************************/
  /*                           Reduced motion                           */
  /**********************************************************************/

  @media (prefers-reduced-motion: reduce) {
    .container {
      /**
       * Disable animation so that items do not expand and collapse when
       * they enter the scroll port
       */
      animation: none !important;
    }

    sm-carousel[data-variant='hero'] .container {
      --container-width: 100cqi;
    }
  }
}
