.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  --md-comp-app-bar-container-color: transparent;
}

.main {
  height: 100%;

  /* Reduce the required minimum width to properly be displayed in small detail panes */
  --md-comp-button-medium-padding: 12px;
}
