.math {
  msup {
    /* Remove extra spacing after <mn> so that text in <msup> is horizontally centered */
    display: inline-block;
  }

  mi,
  mn {
    font-family: var(--md-ref-typeface-brand, Roboto);
  }

  mn {
    /* Slightly lower the exponent */
    margin-top: 4px;
  }
}
