.components-grid {
  --md-comp-search-view-min-width: 100%;

  display: grid;
  grid-auto-flow: column;
  gap: var(--md-user-spacing-sm);
  grid-template-columns: auto minmax(80px, min-content) auto;
  grid-template-rows: repeat(5, min-content);

  grid-template-areas:
    'tooltip split-button split-button'
    'tooltip button-group button-group'
    'tooltip fab list'
    'snackbar snackbar list'
    'search-bar search-bar search-bar';

  .tooltip {
    grid-area: tooltip;
    align-self: end;
  }

  .snackbar {
    min-width: 25ch;
    grid-area: snackbar;
  }

  .search-bar {
    grid-area: search-bar;
  }

  .split-button {
    grid-area: split-button;
    align-self: end;
  }

  .button-group {
    grid-area: button-group;
  }

  .fab {
    grid-area: fab;
  }

  .list {
    grid-area: list;
  }
}

@media (width < 600px) {
  .components-grid {
    grid-template-columns: auto min-content;
    grid-template-rows: repeat(4, min-content);

    grid-template-areas:
      'tooltip split-button'
      'tooltip button-group'
      'tooltip fab'
      'snackbar snackbar';

    /* Hide components which do not fit in hero card on mobile */
    .search-bar,
    .list {
      display: none;
    }
  }
}
